* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

* {
	outline: none;
}

body {
	background: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/IMD19XGUE1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-size: 16px;
	color: rgba(0,0,0,0.8);
}

#search-form {
	position: relative;
	top: 60px;
	width: 80%;
	height: 40%;
	max-height: 800px;
	min-height: 300px;
	margin: 150px auto ;
	max-width: 800px;
	min-width: 300px;
	background-color: rgba(255,255,255,0.65);
	padding: 0 50px;
}

.title {
	position: relative;
	top: 50px;
	text-align: center;
	color: #1A237E;
}

.searchbox {
	position: relative;
	top: 60px;
	width: 90%;
	margin: 50px auto;
	padding: 15px;
	border: none;
	background-color: rgba(255,255,255,0.65);
	text-align: center;
}

#search-input {
	float: left;
	width: 60%;
	font-size: inherit;
	padding: 10px 10px 10px 10px;
	border: none;
	background-color: white;
	color: #3F51B5;
}

.dropdown {
	float: left;
	width: 25%;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	padding: 10px 10px;
	border: none;
	cursor: pointer;
	background-color: #F06292;
	color: rgba(0,0,0,0.54);
}

.search-btn {
	float: right;
	width: 15%;
	font-size: inherit;
	padding: 10px;
	border: none;
	cursor: pointer;
	background-color: #F06292;
	color: rgba(0,0,0,0.54);
}

.search-btn:hover, .dropdown:hover {
	font-weight: 900;
}

.search:focus {
	background-color: #3F51B5;
	color: #FF80AB;
}

.search:focus ~ .search-btn {
	font-weight: 900;
}

select.invalid {
	box-shadow: 0 0 5px 1px red;
}

input.invalid {
	box-shadow: 0 0 5px 1px red;
}
