form {
	width: 50%;
}

fieldset input:not(.btn-submit),
fieldset select {
	width: 40%;
}

img.cards {
	display: inline-block;
	width: 110px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	margin-left: 5px;
}

.cvs {
	display: inline-block;
	margin-left: 5px;
	font-size: 80%;
	color: #616161;
	text-decoration: none;
	cursor: pointer;
}

div.cvs-eg {
	position: absolute;
	top: 18%;
	right: 13%;
	width: 15%;
	height: 30%;
  opacity: 0;

	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.cvs:hover + .cvs-eg{
  opacity: 1;
}

select.expiration {
	width: 20%;
}

input.invalid {
	border-color: rgb(224,80,56);
}

select.invalid {
	border-color: rgb(224,80,56);
}